/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #555;
}
ul{
    list-style: none;
    
}

/* Navigation Styles */
.e-logo{
    color: #71c55d;
    font-size: 28px;
    font-weight: 600;
   
}
.startup{
    color:  #505050;
    font-size: 28px;
    font-weight: 600;
}
.active-color{
    color: #71c55d !important;
    font-weight: 400;
}
.nonactive-color{
    color: #505050 !important;
    font-weight: 400;
}
.nonactive-color:hover{
    color: #71c55d !important;
}
.drop-down-bg{
    background-color: #71c55d ;
}
.drop-down{
    color: #fff !important;
}
.drop-down:hover{
    color: #71c55d ;
    background-color: #fff;
}

/* banner */
.outline-btn{
    position: relative;
    z-index: 3;
    background: transparent;
    color: #71c55d;
    font-size: 14px;
    border-color: #71c55d;
    border-style: solid;
    border-width: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

button {
    cursor: pointer;
    outline: none;
}
.green-white {
    font-weight: 700;
    color:#71c55d;
    border-color: #71c55d;
    background: transparent;
}
.green-white:hover {
    color: white;
    background: #71c55d;
    border-color: #71c55d;
}  
    